{% extends "base.html" %}

{% block title %}الكثافة{% endblock title %}

{% block content %}
    <section class="max-w-screen-xl w-full mx-auto p-4 mt-10">
        <h3 class="text-center lg:text-2xl sm:text-xl text-lg font-bold">
            معدل الكثافة (طالب/فصل)
        </h3>
        <div class="overflow-x-auto my-8">
            <table class="min-w-full whitespace-nowrap text-center text-sm divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="font-bold dark:text-white">
                    <tr>
                        <th class="px-6 py-3">
                            <a class="flex gap-2" href="?order={% if request.GET.order == "-office_nu" %}office_nu{% else %}-office_nu{% endif %}">
                                المعرف
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="first-arrow-up {% if request.GET.order and request.GET.order != "office_nu" %}hidden{% endif %}" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="first-arrow-down {% if request.GET.order != "-office_nu" %}hidden{% endif %}" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </th>
                        <th class="px-6 py-3">المكتب</th>
                        <th class="px-6 py-3">معدل الكثافة لرياض الأطفال </th>
                        <th class="px-6 py-3">معدل الكثافة  للمرحلة الابتدائية</th>
                        <th class="px-6 py-3">معدل الكثافة  للمرحلة المتوسطة</th>
                        <th class="px-6 py-3">معدل الكثافة  للمرحلة الثانوية</th>
                        <th class="px-6 py-3">
                            <a class="flex gap-2" href="?order={% if request.GET.order == "-office_density" %}office_density{% else %}-office_density{% endif %}">
                                معدل الكثافة
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="second-arrow-up {% if request.GET.order != "office_density" %}hidden{% endif %}" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="second-arrow-down {% if request.GET.order != "-office_density" %}hidden{% endif %}" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-700 text-sm text-gray-800 dark:text-gray-200 font-medium">
                    {% for density in densities %}
                        <tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-slate-900 dark:even:bg-slate-800">
                            <th class="px-6 py-4">{{ density.office_nu }}</th>
                            <td class="px-6 py-4">{{ density.office_name }}</td>
                            <td class="px-6 py-4">{{ density.childhold_density }}</td>
                            <td class="px-6 py-4">{{ density.primary_density }}</td>
                            <td class="px-6 py-4">{{ density.elementry_density }}</td>
                            <td class="px-6 py-4">{{ density.secondary_density }}</td>
                            <td class="px-6 py-4">{{ density.office_density }} </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}