{% extends 'base.html' %}

{% block title %} الرئيسية {% endblock %}


{% block content %}
    <section class="max-w-screen-xl mx-auto p-4 mt-10">
        {% comment %} <marquee behavior="" direction="">
            <h4 class="text-danger text-center">
                تم تحديث البيانات بتاريخ 15-2-1445هـ
            </h4>
        </marquee> {% endcomment %}
        <h4 class="text-center text-gray-400 dark:text-gray-500">
            تم تحديث البيانات بتاريخ 15-2-1445 هـ
        </h4>
        <!-- الاحصاءات والخريطة -->
        <div class="mt-2">
            {{ map|safe }}
        </div>
    </section>
{% endblock content %}
