{% extends 'base.html' %}

{% block title %}المكاتب{% endblock %}

{% block content %}
  <section class="max-w-screen-xl w-full p-4 mx-auto mt-10">
    <h5 class="text-center lg:text-2xl sm:text-xl text-lg font-bold">
      قائمة المكاتب
    </h5>
    <ul class="mt-8 flex justify-center flex-wrap gap-4">
      {% for school in schools %}
        <li class="w-fit p-4 bg-white border rounded-lg border-gray-200 shadow dark:bg-slate-800 dark:border-gray-600 text-gray-500 dark:text-gray-400">
          <a class="whitespace-nowrap text-blue-500 hover:text-blue-700 underline-offset-4 hover:underline" href="{% url 'office_details' school.office %}">{{ school.office }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}