{% extends 'base.html' %}

{% block title %}{{ school.school_name }}{% endblock title %}

{% block content %}
  <section class="max-w-screen-xl w-full p-4 mx-auto mt-10">
    <h3 class="text-center lg:text-2xl sm:text-xl text-lg font-bold">
      {{ school.school_name }}
    </h3>
    <div class="overflow-x-auto">
      <table class="min-w-full whitespace-nowrap text-sm text-center divide-y font-medium divide-gray-200 dark:divide-gray-700 mt-8">
        <thead>
          <tr class="font-bold dark:text-white">
            <th class="px-6 py-3">الرقم الإحصائي</th>
            <th class="px-6 py-3">نوع السلطة</th>
            <th class="px-6 py-3">المكتب</th>
            <th class="px-6 py-3">المرحلة</th>
            <th class="px-6 py-3">جنس المدرسة</th>
            <th class="px-6 py-3">عدد الفصول</th>
            <th class="px-6 py-3">عدد الطلاب</th>
            <th class="px-6 py-3">معدل الكثافة</th>
            <th class="px-6 py-3">نوع التعليم</th>
            <th class="px-6 py-3">الحي</th>
            <th class="px-6 py-3">إدارة التعليم</th>
            <th class="px-6 py-3">اسم مدير/ة المدرسة</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-gray-800 dark:text-gray-200">
            <th class="px-6 py-4">{{ school.school_nu }}</th>
            <td class="px-6 py-4">{{ school.school_rule }}</td>
            <td class="px-6 py-4">{{ school.office }}</td>
            <td class="px-6 py-4">{{ school.school_stage }}</td>
            <td class="px-6 py-4">{{ school.school_gender }}</td>
            <td class="px-6 py-4">{{ school.total_class }}</td>
            <td class="px-6 py-4">{{ school.total_student }}</td>
            <td class="px-6 py-4">{{ school.density }}</td>
            <td class="px-6 py-4">{{ school.school_education_system }}</td>
            <td class="px-6 py-4">{{ school.school_quarter }}</td>
            <td class="px-6 py-4">{{ school.adminstration }}</td>
            <td class="px-6 py-4">{{ school.school_manager_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-10 mb-8">
      {{ map|safe }}
    </div>
  </section>
{% endblock content %}