{% extends 'base.html' %} 

{% block title %}البحث عن مدرسة{% endblock title %}

{% block content %}
  <section class="max-w-screen-xl w-full p-4 mx-auto mt-10">
    <!-- search -->
    <form class="flex gap-4" method="GET">
      <input 
        type="text"
        name="schoolname"
        id="schoolname"
        placeholder="أدخل اسم المدرسة أو الرقم الإحصائي للمدرسة"
        class="border-2 py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-900 dark:border-gray-700 dark:text-gray-400"
      >
      <button
        type="submit"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
      >
        بحث <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 -sacle-100">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>         
      </button>
    </form>
    
    <!-- table -->
    <div class="overflow-x-auto mt-4">
      <table class="min-w-full text-center divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
          <tr>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">الرقم الاحصائي</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">اسم المدرسة</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">جنس المدرسة</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">المكتب</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">الحي</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700 text-sm">
          {% for i in s %}
            <tr>
              <th
                class="px-6 py-4 whitespace-nowrap font-medium text-gray-800 dark:text-gray-200"
              >
                {{ i.school_nu }}
              </th>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <a
                  class="text-blue-500 hover:text-blue-700 underline-offset-4 hover:underline"
                  href="{% url 'detail' i.school_nu %}"
                >
                  {{ i.school_name }}
                </a>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-gray-800 dark:text-gray-200">{{ i.school_gender }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-gray-800 dark:text-gray-200">{{ i.office }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-gray-800 dark:text-gray-200">{{ i.school_Quarter }}</td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
    
    <!-- pagination -->
    <nav class="flex justify-center items-center gap-x-2">
      {% if s.has_previous %}
        <a class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md" href="?page={{ s.previous_page_number }}">
          <span aria-hidden="true">«</span>
          <span class="sr-only">السابق</span>
        </a>
      {% endif %}
      {% if not request.GET.page %}
        <a class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center justify-center text-sm font-medium rounded-full" href="?page=1" aria-current="page">
          1
        </a>
        {% for page_number in page_range %}  
          {% if page_number != 1 %}
            <a class="w-10 h-10 text-gray-500 hover:text-blue-600 p-4 inline-flex items-center text-sm font-medium rounded-full" href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for page_number in page_range %}  
          {% if page_number|stringformat:"i" == request.GET.page %}
            <a class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center justify-center text-sm font-medium rounded-full" href="?page={{ page_number }}" aria-current="page">
              {{ page_number }}
            </a>
          {% else %}
            <a class="w-10 h-10 text-gray-500 hover:text-blue-600 p-4 inline-flex items-center text-sm font-medium rounded-full" href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if s.has_next %}
        <a class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md" href="?page={{ s.next_page_number }}">
          <span class="sr-only">التالي</span>
          <span aria-hidden="true">»</span>
        </a>
      {% endif %}
    </nav>
  </section>
{% endblock content %}
