{% extends 'base.html'  %}
{% block content %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
  </head>
<body>
<!-- top side-->
<div  class="container row mt-2    ">
  <div clas="col-4" >

</div>
<!-- form start -->
<div class="row justify-content-center ">
  <div  class=" row  col-8  ">
  <form action="" method="get" class=" ">
    <div class="input-group  ">
    <input type="text" class="form-control form-control-lg "  name="schoolname" placeholder="أدخل اسم المدرسة أو الرقم الإحصائي للمدرسة"/>
    <button class="input-group-text btn-success" type="submit">بحث</button>
    </div>
  </form>
</div>

 <!-- search section -->

    <div class="row   justify-content-center">
    
    
    <table class="tbl-container bdr" style="width: 70%; height: 400px; margin-top: 10px;
    margin-left: 10px;border-radius: 10px;
  overflow: hidden;">
      <thead style="background-color: #A7BACF; height: 40px;">
        <tr>
          <th scope="col">الرقم الاحصائي</th>
          <th scope="col">اسم المدرسة</th>
          <th scope="col">المكتب</th>
          <th scope="col">الحي</th>
        </tr>
      </thead>
      
      <tbody>
      {% for i in s %}  
        <tr>
          <th scope="row">{{i.school_nu}}</th>
          <td ><a style="text-decoration: none;" href="{% url 'detail' i.school_nu %}">{{i.school_name}}</a><br></td>
          <td class="col-md-1">{{i.office}}</td>
          <td class="col-md-2">{{i.school_Quarter}}</td>
        </tr>
      {% endfor%}
      </tbody>
    </table>
      
    </div>
<br>
<!-- pagination -->
<div class="col-4  mt-3 offset-1 ">
  <nav aria-label="">
    <ul class="pagination">

      {% if s.has_previous %}
        <li class="page-item">
          <a href="?page={{ s.previous_page_number }}" class="page-link">السابق</a>
        </li>
        <li>
          <a class="page-link" href="?page={{ s.previous_page_number }}">
            {{ s.previous_page_number }}
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">السابق</span>
        </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">{{ s.number }}</span>
      </li>

      {% if s.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ s.next_page_number }}">
            {{ s.next_page_number }}
          </a>
        </li>
        <li class="page-item ">
          <a class="page-link" href="?page={{ s.next_page_number }}">التالي</a>
        </li>
        

      {% else %}
        <li class="page-item disabled">
          <span class="page-link">التالي</span>
        </li>
      {% endif %}

    </ul>
  </nav>
</div>

</div>
</div>
{% endblock content %}
</body>
</html>