{% extends 'base.html'  %}
{% block content %}

<div style="height: 400px;padding-top: 85px;">

    <div   class="card  " style="  float: left;">
    <div class="card-body ">
      <div class="card-header text-center border">تصنيف المشاريع</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% for i in context %}
        <div style="  float: left;
        width: 50%;
        padding: 0 10px;" class="card mt-2 bg-light">

          <div class="card-body  text-center">


            <p class="card-text">
              <a   style="text-decoration: none;" href="{% url 'all_projects' i.project_type %}">{{i.project_type}}
              </a>
            </p>

          </div>

        </div>

        {% endfor %}
       </li>
      </ul>

    </div>
  </div>
 </div>

{% endblock content %}